body{
    background-image: url(https://img.freepik.com/premium-photo/top-view-resumes-applicants-magnifying-glass-green-background-job-search-concept_35674-13811.jpg
    );
    background-repeat: no-repeat;
    background-size: cover;
}
